# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\GitHub\Artificial-intelligence\Candy crush\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
